[submodule "crates/foldit-runner"]
	path = crates/foldit-runner
	url = https://github.com/petridecus/foldit-runner
[submodule "crates/molconv"]
	path = crates/molconv
	url = https://github.com/petridecus/molconv
[submodule "crates/foldit-frontend"]
	path = crates/foldit-frontend
	url = https://github.com/petridecus/foldit-frontend
[submodule "crates/viso"]
	path = crates/viso
	url = https://github.com/petridecus/viso
